phot_flux.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1967.xdr filter=lfs diff=lfs merge=lfs -text
zzbc_2dcoup.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1991.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1983.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1983.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1995.xdr filter=lfs diff=lfs merge=lfs -text
emis_2d.xdr filter=lfs diff=lfs merge=lfs -text
gcmlh_9ba.xdr filter=lfs diff=lfs merge=lfs -text
tgl_jan7980.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2004.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2006.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1959.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1987.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1995.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1985.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1986.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1982.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2002.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1980.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2012.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1982.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2014.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1982.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1983.xdr filter=lfs diff=lfs merge=lfs -text
waccm_cmflx.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1968.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1980.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2003.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1998.xdr filter=lfs diff=lfs merge=lfs -text
latheat_base8d.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1964.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1995.xdr filter=lfs diff=lfs merge=lfs -text
chi_7910_j.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1993.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2006.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1993.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1990.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2001.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2014.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1990.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1966.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2012.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2007.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2002.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2001.xdr filter=lfs diff=lfs merge=lfs -text
solcyc_1950-2006.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1977.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2007.xdr filter=lfs diff=lfs merge=lfs -text
g4_lh_2dmod.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1979.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2014.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1979.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1993.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1996.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1986.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1968.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1985.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1992.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1991.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1969.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1977.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1982.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1999.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2001.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2000.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1969.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2006.xdr filter=lfs diff=lfs merge=lfs -text
gcmlh_9ba_day.xdr filter=lfs diff=lfs merge=lfs -text
hal_mls_h2o_ttrop.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2007.xdr filter=lfs diff=lfs merge=lfs -text
kyyot.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1965.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1981.xdr filter=lfs diff=lfs merge=lfs -text
chi_coupled_9gb.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1979.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2012.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1999.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2006.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1991.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2001.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1987.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1982.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2011.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2003.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1974.xdr filter=lfs diff=lfs merge=lfs -text
ozclim_dukz.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1972.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1988.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1989.xdr filter=lfs diff=lfs merge=lfs -text
ubarclim_9fr.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1965.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1966.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2010.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1995.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2000.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2009.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2013.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1996.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2002.xdr filter=lfs diff=lfs merge=lfs -text
kyy_9fr_coup.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1999.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2013.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2008.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1962.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2011.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1988.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1997.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1979.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1959.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1996.xdr filter=lfs diff=lfs merge=lfs -text
tsi_heat.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1981.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1988.xdr filter=lfs diff=lfs merge=lfs -text
waccm_lh_coup.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1976.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1999.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2004.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2004.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2013.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1970.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1994.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1973.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1985.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2008.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1984.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2006.xdr filter=lfs diff=lfs merge=lfs -text
srf_rflec.xdr filter=lfs diff=lfs merge=lfs -text
chibbc2_base8xf.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1993.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1988.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1996.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2012.xdr filter=lfs diff=lfs merge=lfs -text
waccm_lh_coup_2008.xdr filter=lfs diff=lfs merge=lfs -text
waccm_gwaves.xdr filter=lfs diff=lfs merge=lfs -text
dep_2d_2011.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1958.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2001.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_clim.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2003.xdr filter=lfs diff=lfs merge=lfs -text
h2o_uars_era40.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1979.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_clim_1979-2010.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2010.xdr filter=lfs diff=lfs merge=lfs -text
g5_clouds_2dmod.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1986.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_clim.xdr filter=lfs diff=lfs merge=lfs -text
co2bc_day.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1971.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1984.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2004.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1992.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2009.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2011.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1986.xdr filter=lfs diff=lfs merge=lfs -text
gmi_2d_lightning.xdr filter=lfs diff=lfs merge=lfs -text
h2obc.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2008.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2007.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1973.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1990.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2005.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1974.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1993.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2005.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_clim_1989-2010.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1987.xdr filter=lfs diff=lfs merge=lfs -text
g4temp_2dmod.xdr filter=lfs diff=lfs merge=lfs -text
harvard_ddox.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_clim-94-14.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1976.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1961.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1967.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1970.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1978.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2011.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1996.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2002.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2005.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2007.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1990.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1981.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1994.xdr filter=lfs diff=lfs merge=lfs -text
g4_h2o_2dmod.xdr filter=lfs diff=lfs merge=lfs -text
geos5_ubarsens_2dmod.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1985.xdr filter=lfs diff=lfs merge=lfs -text
nmc_barocl_2d.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1984.xdr filter=lfs diff=lfs merge=lfs -text
stab100_2d69.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1963.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2005.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1985.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1992.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1994.xdr filter=lfs diff=lfs merge=lfs -text
nmc_barocl_vt_2d.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1989.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1963.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1983.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1981.xdr filter=lfs diff=lfs merge=lfs -text
gmi_2dbc.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1989.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2009.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1975.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1997.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1975.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1984.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1999.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2008.xdr filter=lfs diff=lfs merge=lfs -text
trop2d_base8e.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1983.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1987.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1992.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1998.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2005.xdr filter=lfs diff=lfs merge=lfs -text
g4temp_sens.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2004.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2010.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2012.xdr filter=lfs diff=lfs merge=lfs -text
kyyot-2dcoup.xdr filter=lfs diff=lfs merge=lfs -text
utdiff.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1960.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2003.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1987.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2009.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1958.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1995.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1984.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1986.xdr filter=lfs diff=lfs merge=lfs -text
solcyc_var-57-06_360.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1960.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1961.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1972.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2008.xdr filter=lfs diff=lfs merge=lfs -text
era_wt.xdr filter=lfs diff=lfs merge=lfs -text
oh2d.xdr filter=lfs diff=lfs merge=lfs -text
tempoffs.xdr filter=lfs diff=lfs merge=lfs -text
cwc_360.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2009.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2014.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1980.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1992.xdr filter=lfs diff=lfs merge=lfs -text
scav_2d_t1r8.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1964.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1989.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2003.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1978.xdr filter=lfs diff=lfs merge=lfs -text
gwbc_base9ba.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1981.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1997.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1988.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_2010.xdr filter=lfs diff=lfs merge=lfs -text
dep_2d_t1r8.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1997.xdr filter=lfs diff=lfs merge=lfs -text
sad_refc1.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2011.xdr filter=lfs diff=lfs merge=lfs -text
c14bc.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1998.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2000.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_1990.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1998.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2002.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_2000.xdr filter=lfs diff=lfs merge=lfs -text
ozbc.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1962.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1991.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1998.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_clim.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1989.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_clim-94-14.xdr filter=lfs diff=lfs merge=lfs -text
qnet_merra_sc_1994.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1991.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_2000.xdr filter=lfs diff=lfs merge=lfs -text
geos5_lh_2dmod.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_2010.xdr filter=lfs diff=lfs merge=lfs -text
dyn_9gtp_1997.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1994.xdr filter=lfs diff=lfs merge=lfs -text
fegw_2013.xdr filter=lfs diff=lfs merge=lfs -text
kzz_9fr_coup.xdr filter=lfs diff=lfs merge=lfs -text
waccm_clouds.xdr filter=lfs diff=lfs merge=lfs -text
waccm_conv.xdr filter=lfs diff=lfs merge=lfs -text
fegw_1980.xdr filter=lfs diff=lfs merge=lfs -text
kyy_merra_clim0.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1971.xdr filter=lfs diff=lfs merge=lfs -text
tprobm_45x76_1980.xdr filter=lfs diff=lfs merge=lfs -text
